<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./public/main.css">
    <title></title>
  </head>
  <body>
    <div class="outer-wrapper">
      <div class="wrapper" id="header">
        <h1>FIGGY MARM</h1>
      </div>
    </div>
  </body>
</html>
