<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index.css">
   <%- include ('./partials/head.ejs') %>
   <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
   <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
   <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script type="text/babel" src="app.js" charset="utf-8"></script>
    <title>FIGGY MARM</title>
  </head>
  <body>
    <div class="outer-wrapper">
      <div class="wrapper" xyz="fade-in big-100%"">
          <img src="./imgs/figgylogo.png" alt="figgy marm enter">
        </div>
      </div>
  </body>
</html>
