html {
	position: relative;
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: #346bad;
	background-image:
		url('./imgs/cornflower_nobg.png '), /*bee*/
    url('./imgs/vaporsky_nobg.png'), /*car */
		url('./imgs/lovers.png'), /*lovers*/
    url('./imgs/bwriverme.png'),
		url('./imgs/wiskeymitas_nobg1.png'), /*mountains*/
    url('./imgs/clouds.png'), /*clouds*/
    url('./imgs/owlboy1.png');
	background-repeat: repeat-x;
	background-position:
		0 10%,
    0 80%,
		0 100%,
    0 80%,
		50px 100%,
    0 0,
    0 25%,
		0 0;
	background-size:
		1300px,
		500px,
    850px,
    550px,
		400px,
    300px,
    320px,
		0px;
	animation: 70s start infinite linear;
	}

@keyframes start {
	100% {
		background-position:
			-5000px 20%,
      -2222px 75%,
			-800px 95%,
      -800px 95%,
			1200px 100%,
      90px 0,
      1000px 5%,
			0 0;
		}
	}
.wrapper{
		position: absolute;
		display:flex;
		justify-content: center;
		width: 100%;
		margin-top: 25%;
	}
#header{
  display:flex;
  align-items: flex-end;
}
#header:hover{
  color: salmon;
}
