
html {
	height: 100%;
	/* max-height: 600px; */
	width: 1000px;
	background-color: white;
	background-image:
		url('./imgs/cornflower_nobg.png '), /*bee*/
    url('./imgs/vaporsky_nobg.png'), /*car */
		url('./imgs/lovers_nobg.png'), /*lovers*/
		url('./imgs/wiskeymitas_nobg1.png'), /*mountains*/
    url('./imgs/clouds.png'), /*clouds*/
		url('./imgs/bluesky.jpg'); /*glitchsky*/
	background-repeat: repeat-x;
	background-position:
		0 10%,
    0 80%,
		0 100%,
		50px 100%,
    0 0,
		0 0;
	background-size:
		1300px,
		500px,
    900px,
		400px,
    300px,
		1000px;
	animation: 60s start infinite linear;
	}

@keyframes start {
	100% {
		background-position:
			-5000px 20%,
      -2222px 75%,
			-800px 95%,
			1200px 100%,
      90px 0,
			400px 0;
		}
	}
